.full-background-image {
  width: 100vw;
  height: 70vh;
  background-size: cover;
  display: flex;
  align-items: center;

  .feature-container {
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    color: white;

    .feature-price {
      margin-bottom: 1rem;
    }

    .feature-book-button {
      height: 3rem;
      width: 12rem;
      background-color: white;
      color: black;
      font-weight: bold;
      border: none;
      padding: 1rem;
      cursor: pointer;
      transition: background-color 0.5s, color 0.5s;

      &:hover {
        background-color: black;
        color: white;
      }
    }
  }
}
